[submodule "2. yolov3 fork/yolov3"]
	path = 2. yolov3 fork/yolov3
	url = https://github.com/alpizano/yolov3.git
[submodule "2. yolov3"]
	path = 2. yolov3
	url = https://github.com/alpizano/yolov3.git
[submodule "mturk_bbutils"]
	path = mturk_bbutils
	url = https://github.com/alpizano/mturk_bbutils.git
[submodule "yolov3"]
	path = yolov3
	url = https://github.com/alpizano/yolov3.git
[submodule "Yolo_mark"]
	path = Yolo_mark
	url = https://github.com/alpizano/Yolo_mark.git
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/alpizano/ultralytics.git
